<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/util.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/main.css">

</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					<span class="login100-form-title p-b-43">
						Welcome
					</span>
                    <div class="text-center p-t-46 p-b-20">
                        {% for message in get_flashed_messages(category_filter=['error']) %}
                        <h5 style="color: cornflowerblue">{{message}}</h5>
                        {% endfor%}
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Username is required">

                        <input class="input100" type="text" name="username" method="post">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>

                    </div>


                        <div class="wrap-input100 validate-input" data-validate="Password is required">

                        <input class="input100" type="password" name="password" method="post">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>

                        </div>

					    <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Log in
						</button>
					</div>

					<div class="text-center p-t-46 p-b-20">
                        <a> No account?</a>
                        <a href = "{{ url_for('user_register') }}">Create one</a><br>
					</div>
                </form>



				<div class="login100-more" style="background-image: url('../static/bootstrap/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>

	<script src="../static/bootstrap/jquery.min.js"></script>
	<script src="../static/bootstrap/bootstrap.min.js"></script>
	<script src="../static/bootstrap/main.js"></script>

</body>
</html>
